# Exclude large hero animation frame sequence (180+ PNGs, ~570MB)
# public/Images/heropage/

node_modules/
diff.txt
diff_utf8.txt

# Temporary debug/analysis/test scripts (not part of the app)
analyze_parens.js
app_admintest.js
app_faqtest.js
app_original.js
app_setup_test.js
app_setup_test3.js
app_test1.js
app_test2.js
app_test3.js
app_test_hybrid.js
app_test_removed.js
balance.js
balance2.js
bisect.js
bisect2.js
check_apostrophes.js
check_blogpage.js
check_hybrid.js
compare_mobile_nav.js
compare_nav.js
compare_setups.js
correct_search.js
count_parens.js
count_parens_final.js
debug_app.js
diff_parens.js
diff_structure.js
final_check.js
find_char.js
find_divergence.js
find_exact.js
find_extra.js
find_extra2.js
find_extra3.js
find_extra_paren.js
find_extra_paren2.js
find_in_app.js
find_in_app2.js
find_neg.js
find_quote_diff.js
find_return.js
find_split.js
hybrid_app.js
hybrid_search.js
hybrid_search2.js
hybrid_test.js
incremental_apply.js
isolate_setup.js
isolate_setup2.js
methodical_test.js
scan_full_return.js
scan_return.js
scan_return2.js
simple_count.js
structural_test.js
test_all_setup.js
test_build.js
test_fetch.js
test_fix.js
test_nav_buttons.js
test_no_blog.js
test_parse.js
test_parse2.js
test_parse3.js
test_parse4.js
test_parse5.js
test_parse6.js
test_setup_vs_return.js
test_structural.js
trace3.js
trace_balance.js
trace_balance2.js
walk_balance.js
